<form {{action 'submitAddress' on='submit'}}>
  <div class="form-group">
    {{input value=street placeholder="Street Address" class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=city placeholder="City" class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=zip placeholder="Zip Code" class="form-control"}}
  </div>
  <button type="submit" class='btn btn-default'>Submit</button>
</form>
