<div class="bill-tile">
  <div class="row">
    {{#link-to 'bill' bill.id}}<h3 class="col-sm-6">{{bill.bill_id}}</h3>{{/link-to}}
    <h5 class="col-sm-6 bill-session">{{bill.session}}</h5>
  </div>
  <h2>{{bill.title}}</h2>
</div>
