<form class="navbar-form navbar-right" {{action 'executeSearch' on='submit'}}>
  <div class="form-group">
    {{input class="form-control" id="search" value=search placeholder="search"}}
  </div>
  <button class="btn btn-default" type="submit">Search</button>
</form>
